
<!--
<section class="hero">
  <div class="info animate__animated animate__bounce animate__pulse">
    <h2>
      Writing the future<span>,</span>line by line
    </h2>
    <p id="typewriter">{{ typewriterText }}</p>
    <div class="social">
      <a href="https://github.com/lautiok" target="_blank">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/nahuel-guerra-002479229/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="info-foto animate__animated animate__bounce animate__backInRight">
    <img src="..\..\assets\avatar\giant_coffee.png" alt="" />
  </div>
</section>
-->

<section class="hero">
  <div class="info animate__animated animate__bounce animate__pulse">
    <h2>
      Writing the future<span>,</span>line by line
    </h2>
    <p id="typewriter">{{ typewriterText }}</p>
    <div class="social">
      <a href="https://github.com/AlbertoBarba1997" target="_blank">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/juan-alberto-barba-aguilar-9177a2287/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="info-foto animate__animated animate__bounce animate__backInRight">
    <img src="..\..\assets\avatar\giant_coffee.png" alt="" /> <!-- Reemplaza "coffe.jpg" con la ruta de tu imagen -->
  </div>
</section>

