<section data-aos="fade-up" class="informacion-lenguajes">
  <div class="logos-l animate__animated animate__bounce animate__backInUp">
      <a class="java"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/java.png" alt="java" /></a>
      <a class="angular"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/angular.png" alt="angular" /></a>
      <a class="spring"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/spring.png" alt="java spring" /></a>
      <a class="html"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/html.png" alt="html css javascript" /></a>
      <a class="node"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/node.png" alt="node js" /></a>
      <a class="sql"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/sql.png" alt="SQL" /></a>
      <a class="git"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/git.png" alt="git" /></a>
      <a class="jira"  target="_blank" rel="noreferrer"><img src="../../../assets/tecnologia/jira.png" alt="jira" /></a>


  </div>
</section>
