.informacion-lenguajes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.informacion-lenguajes h2 {
  color: #ffffff;
  text-align: center;
}

.informacion-lenguajes .logos-l {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.informacion-lenguajes .logos-l a {
  padding: 30px;
}

.informacion-lenguajes .logos-l .java img {
  width: 70px;
  margin-left: 20px;

  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .java img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .angular img {
  width: 150px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .angular img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .spring img {
  width: 120px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .spring img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .html img {
  width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .html img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .node img {
  width: 100px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .node img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .git img {
  width: 100px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .git img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .sql img {
  width: 100px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .sql img:hover {
  transform: scale(1.2);
}

.informacion-lenguajes .logos-l .jira img {
  width: 100px;
  height: auto;
  transition: 0.5s;
}

.informacion-lenguajes .logos-l .jira img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {

  .informacion-lenguajes .logos-l .java img {
    width: 60px;
    margin-left: 20px;
    height: auto;

  }
  .informacion-lenguajes .logos-l .angular img {
    width: 132px;
    height: auto;

  }
  .informacion-lenguajes .logos-l .spring img {
    width: 92px;
    height: auto;
    margin-left: 12px;

  }
  .informacion-lenguajes .logos-l .html img {
    width: 160px;
    height: auto;

  }
  .informacion-lenguajes .logos-l .node img {
    width: 90px;
    height: auto;

  }
  .informacion-lenguajes .logos-l .sql img {
    width: 100px;
    height: auto;

  }
  .informacion-lenguajes .logos-l .git img {
    width: 100px;
    height: auto;

  }
  .informacion-lenguajes .logos-l .jira img {
    width: 100px;
    height: auto;

  }







}
