<app-seccion name="certificados"></app-seccion>

<section class="certificado" data-aos="fade-up">
  <div class="certificadov1">
    <div class="certinfo">
        <h2>B1 English Certificate</h2>
        <p class="date"> 2023 - Cabridge</p>
        <p class="text"> En aprendizaje actualmente! </p>

    </div>
    <div class="certimg">
        <a href="https://drive.google.com/file/d/17YWVVfArYvuBSQHJOvJoAaHD-9ksXNov/view"><img src="../../../assets/certificados/b1.png" alt="webdevelopment" /></a>
    </div>
</div>


<div class="certificadov1">
  <div class="certinfo">
      <h2>Master en desarrollo web: <br> Javascript y Angular
        </h2>
      <p class="date">2023 - Udemy</p>
      <h3>Topics Learned:</h3>
      <p class="text"> IDE: Visual Code 8 <br /> HTML5 <br /> CSS <br /> JavaScript <br /> JQuery <br> TypeScript <br /> Node JS <br />  Angular


  </div>
  <div class="certimg">
      <a href="https://www.udemy.com/certificate/UC-595a4281-5ca4-4bf9-b2cf-0189a7df3904/"><img src="../../../assets/certificados/angular.jpg" alt="javascript" /></a>
  </div>
</div>


<div class="certificadov1">
  <div class="certinfo">
      <h2>Master en desarrollo API REST:
        <br> Node JS</h2>
      <p class="date">2023 - Udemy</p>
      <h3>Topics Learned:</h3>
      <p class="text"> <br /> Mongo DB (No SQL) <br /> Consuming APIs <br /> Postman <br /> Node JS <br /> Express

  </div>
  <div class="certimg">
      <a href="https://www.udemy.com/certificate/UC-16763aa4-59ae-4934-ae2d-9aec54f39f65/"><img src="../../../assets/certificados/node.jpg" alt="" /></a>
  </div>
</div>


<div class="certificadov1">
  <div class="certinfo">
      <h2>Machine Learning y Data Science: <br> Curso con Python
        </h2>
      <p class="date">2023 - Udemy</p>
      <h3>Topics Learned:</h3>
      <p class="text"> Python 3<br> Desarrollo e implementación de sistemas de Machine Learning <br />Nunpy <br /> Mathplotlib <br /> Pandas <br/> Regresion, Clasificación y vectorizacion basicas

  </div>
  <div class="certimg">
      <a href="https://www.udemy.com/certificate/UC-595a4281-5ca4-4bf9-b2cf-0189a7df3904/"><img src="../../../assets/certificados/ia.jpg" alt="javascript" /></a>
  </div>
</div>

</section>

