<section data-aos="fade-up" class="about">
  <div class="me-about">
      <h2>¿Quien es Alberto?</h2>
      <p>
        Hola! Soy un <span class="naranja">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</span> bastante majo, con casi 2 años de experiencia laboral. <br><br>

        Estoy en constante aprendizaje, adaptándome a nuevas tecnologías y proyectos.  A lo largo de mi carrera, principalmente he trabajado con tecnologías basadas en el lenguaje Java:  Individualmente en webs independientes en <span class="naranja">Angular</span>  y laboralmente he participado en proyectos de equipo con <span class="naranja">Java Spring</span>, desarrollando aplicaciones de gran escala para el <span class="naranja">sector público andaluz</span>. <br><br>

    </p>
  </div>
  <div class="me-about-foto">
      <img src="../../../assets/img/perfil.jpeg" alt="about" />
  </div>
</section>
