.abbz {
  margin-top: 90px;
}

.abbz .abb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #acacac;
  padding-bottom: 70px;
  margin-top: 40px;
}

h2{
  font-size: 1.5rem;
}
.abbz .abb span {
  color: #b4875c;
}
